.user_options{
    color: black;
}
.dropdown
    {
        position: relative;
        margin-right: 50px;
    }

 nav{
    /* position: sticky;
    top: 0; */
    /* z-index:999999999 ;
    width: 100%; */
} 
 .badge {
    position: absolute;
    top: 0px;
    right: 35px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
  }