<div class="n">
    <app-navbar></app-navbar>
</div>

<div class="container mt-5 mb-3">
   <div class="text-center title">
    <h2>
        Conditions générales d’utilisation des annonces
       </h2>
   </div> 
   <div class="mt-3 mb-5" style="width:80%; margin:auto;">
    <p > 
        <i class="fa fa-check" aria-hidden="true"></i>  Le site Internet www.la-casse.tn,
     propose un service de dépôt et de consultation de petites annonces pour les piéces de rechanges pour tous les types d'automobiles disponibles en tunisie.<br/><br/>
    
     <i class="fa fa-check" aria-hidden="true"></i> La consultation ainsi que la publication de Petites Annonces
     gratuites sont subordonnées à l‘acceptation sans réserve des présentes Conditions Générales d’Utilisation.<br/><br/>
      Tout Utilisateur et tout Particulier Annonceur déclare en accédant et utilisant le service de dépôt
       et de consultation des Petites annonces depuis le site internet la-casse.tn, avoir pris connaissance 
       des présentes Conditions Générales d’Utilisation et les accepter expressément sans réserve
        et/ou modification de quelque nature que ce soit. <br/><br/>
    
        <i class="fa fa-check" aria-hidden="true"></i>  Les présentes Conditions Générales d’Utilisation des Petites Annonces complètent
     les mentions légales du Site Internet la-casse.tn et ne se substituent pas à ces dernières.
      Les annonceurs ainsi que les utilisateurs sont réputés avoir connaissance de ces dernières
       et les avoir acceptées sans réserve.<br/><br/>
       </p>
   </div>
   <div class="text-center title">
    <h4>
        Utilisation du service de dépôt et de consultation des Petites Annonces
       </h4>
   </div>
<div  class="mt-3 mb-5" style="width:80%; margin:auto;">
    <p>
        Les fonctionnalités accessibles aux Particuliers Annonceurs ainsi qu’aux Utilisateurs sont les suivantes :<br/><br/>

        <i class="fa fa-check" aria-hidden="true"></i> Consultation de l’ensemble des Petites Annonces publiées<br/><br/>
        <i class="fa fa-check" aria-hidden="true"></i> La mise en contact avec les Particuliers Annonceurs au moyen de la publication sur le Site Internet Apiconso.fr 
de l’adresse mail du Particulier Annonceur et, 
si renseigné par le Particulier Annonceur, de son numéro de téléphone.<br/><br/>

<i class="fa fa-check" aria-hidden="true"></i> Le partage d’une Petite Annonce via les boutons de partages présents sur les pages<br/><br/>
L’annonceur est informé et accepte que sa petite annonce ne soit pas diffusée instantanément après son dépôt sur le site pour des raisons techniques et/ou de délai de modération. Les petites annonces sont modérées et validées par le responsable de la publication avant diffusion sur le site. Le Particulier Annonceur est informé et accepte que le Responsable de la publication se réserve le droit de ne pas publier et de supprimer sa Petite Annonce si cette dernière ne répond pas pleinement aux présentes conditions d’Utilisation et en particulier des règles de diffusion détaillées ci-après.
<br/><br/>
L’annonceur est informé et accepte qu’en publiant sa petite annonce sur le site Internet, celle-ci est susceptible d’être partagée par tout utilisateur et/ou tout autre particulier annonceur sur les réseaux sociaux Facebook et Twitter, via les boutons de partage intégrés dans les pages de consultation des Petites Annonces.
<br/><br/>
À tout moment, un Particulier Annonceur peut demander le retrait de tout ou partie de sa Petite Annonce en formulant sa demande au responsable de la publication via le formulaire de contact. De même, il est permis à tout Utilisateur, y compris les Particuliers Annonceurs de signaler un contenu abusif au Responsable de la Publication.
    </p>
</div>
</div>

<app-footer></app-footer>