<div class="n"><app-navbar></app-navbar></div>
<div class="" style="background-color:#e9ebedaf ;">
 
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div *ngIf="this.authServices.loggedUser === auteur.username" class="container" style="padding-bottom:100px ;">
    
        <!-- Page header start -->
        <div class="page-title">
            <div class="row gutters">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <h5 class="title">Messages</h5>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12"> </div>
            </div>
        </div>
        <!-- Page header end -->
    
        <!-- Content wrapper start -->
        <div class="content-wrapper">
    
            <!-- Row start -->
            <div class="row gutters">
    
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    
                    <div class="card m-0">
    
                        <!-- Row start -->
                        <div class="row no-gutters">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3">
                                <div class="users-container">
                                    <div class="chat-search-box">
                                        <div class="input-group">
                                            <input class="form-control" placeholder="Search">
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-info">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="users" *ngFor="let c of contacts">
                                        <li *ngIf="this.authServices.loggedUser!==c.username" class="person" data-chat="person1">
                                            <div class="user">
                                                <div *ngIf="c.filename === null">
                                                    <a (click)="toDiscussion(c.username)">
                                                      <img class="card-img-top img-responsive rounded-circle image-user"
                                                    src =  "../../../assets/images/user.png" 
                                                    style = "height :50px;width:50px"
                                                   alt="">
                                                    </a>
                                                  </div>
                                                  <div  *ngIf="c.filename !== null">
                                                    <a (click)="toDiscussion(c.username)">
                                                      <img class="card-img-top img-responsive rounded-circle image-user"
                                                      src = "{{'http://localhost:8081/api/ImgUser/'+c.user_id}}" 
                                                      style = "height :50px;width:50px"
                                                     alt="">
                                                    </a>
                                                    
                                                  </div>
                                                <span class="status busy"></span>
                                            </div>
                                            <p class="name-time">
                                                <span class="name">{{c.prenom}} {{c.nom}}</span>
                                                <!-- <span class="time">15/02/2019</span> -->
                                            </p>
                                        </li>
                                       
                                      
                                        
                                        
                                    </ul>
                                </div>
                            </div>
                            <div  class="col-xl-8 col-lg-8 col-md-8 col-sm-9 col-9">
                                <div class="selected-user">
                                    <span>
                                        <div *ngIf="this.authServices.loggedUser === emiter?.username ">
                                            <span class="name" >
                                                {{auteur?.prenom}} {{auteur?.nom}}
                                            </span>
                                        </div> 
                                        <div  *ngIf="this.authServices.loggedUser === auteur?.username">
                                            <span class="name">
                                                {{emiter?.prenom}} {{emiter?.nom}}
                                            </span>
                                        </div>
                                        
                                    </span>
                                </div>
                                <div class="chat-container">
                                    <ul class="chat-box chatContainerScroll" *ngFor="let m of messages">

                                        <li *ngIf="this.authServices.loggedUser === m.auteur.username" class="chat-left">
                                            <div class="chat-avatar">
                                                <div *ngIf="m.auteur.filename === null">
                                                    <a [routerLink]="['/profile',m.auteur.user_id]">
                                                      <img class="card-img-top img-responsive rounded-circle image-user"
                                                    src =  "../../../assets/images/user.png" 
                                                    style = "height :50px;width:50px"
                                                   alt="">
                                                    </a>
                                                  </div>
                                                  <div  *ngIf="m.auteur.filename !== null">
                                                    <a [routerLink]="['/profile',m.auteur.user_id]">
                                                      <img class="card-img-top img-responsive rounded-circle image-user"
                                                      src = "{{'http://localhost:8081/api/ImgUser/'+m.auteur.user_id}}" 
                                                      style = "height :50px;width:50px"
                                                     alt="">
                                                    </a>
                                                    
                                                  </div>
                                                <div class="chat-name">Vous</div>
                                            </div>
                                            <div class="chat-text">
                                                {{m.message}}
                                            </div>
                                            <div class="chat-hour">{{m.dateCreation | date:'HH:mm'}} <span class="fa fa-check-circle"></span></div>
                                        </li>
                                       
                                        
                                    
                                        
                                        <li *ngIf="this.authServices.loggedUser === m.emiter.username" class="chat-right">
                                            <div class="chat-hour">{{m.dateCreation | date:'HH:mm'}} <span class="fa fa-check-circle"></span></div>
                                            <div class="chat-text">
                                                {{m.message}}
                                            </div>
                                            <div class="chat-avatar">
                                                <div *ngIf="m.auteur.filename === null">
                                                    <a [routerLink]="['/profile',m.auteur.user_id]">
                                                      <img class="card-img-top img-responsive rounded-circle image-user"
                                                    src =  "../../../assets/images/user.png" 
                                                    style = "height :50px;width:50px"
                                                   alt="">
                                                    </a>
                                                  </div>
                                                  <div  *ngIf="m.auteur.filename !== null">
                                                    <a [routerLink]="['/profile',m.auteur.user_id]">
                                                      <img class="card-img-top img-responsive rounded-circle image-user"
                                                      src = "{{'http://localhost:8081/api/ImgUser/'+m.auteur.user_id}}" 
                                                      style = "height :50px;width:50px"
                                                     alt="">
                                                    </a>
                                                    
                                                  </div>
                                                <div class="chat-name">{{m.auteur.prenom}}</div>
                                            </div>
                                        </li>
                                        
                                    </ul>
                                    <div class="form-group mt-3 mb-0">
                                       

                                        <form [formGroup]="this.messageService.dataForm" (ngSubmit)="onSubmit()">
                                            <input type="hidden"  formControlName="id" id="id">
                                  
                                   
                                            <div class="form-group">
                                              
                                              <input type="date" class="form-control" formControlName="dateCreation" id="" hidden>
                                            </div>
                                            <div class="form-group">
                                              
                                              <input type="text" class="form-control" formControlName="auteur" id="" hidden>
                                            </div>
                                            <div class="form-group">
                                              
                                                <input type="text" class="form-control" formControlName="emiter" id="" hidden>
                                              </div>
                                              <div class="form-group">
                                                <textarea
                                                rows="3" 
                                                class="form-control mb-2"
                                                 placeholder="ecrire un message..." 
                                                 id="floatingTextarea"
                                                  formControlName="message"
                                                  ></textarea>
                                              </div>
                                            
                                              <button 
                                              class="btn btn-primary"
                                               type="submit"
                                               
                                                >Envoyer
                                                  
                                              </button>
                                              <!-- <button
                                            
                                              type="button"
                                              class="btn "
                                              >
                                              Annuler
                                          </button> -->
                                          </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Row end -->
                    </div>
    
                </div>
    
            </div>
            <!-- Row end -->
    
        </div>
        <!-- Content wrapper end -->
    
    </div>
</div>

<app-footer></app-footer>

