<app-navbar></app-navbar>
<div class="entete">
  <h1 class="text-center mt-5">Pieces Auto</h1>
<div class="ajouter mt-5"><a class="btn btn-primary" routerLink="/ajouter"><i class="fa fa-plus"></i>&nbsp; Ajouter</a></div>
</div>

<!-- tableau de Produits -->
<div class="container">
    <div class="card shadow mb-4">
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">nom</th>
        <th scope="col">prix</th>
        <th scope="col">date de création</th>
      </tr>
    </thead>
    <tbody>
    <tr >
        <td></td>
        <td></td>
        <td></td>
        <td></td> 
      
    </tr>
    </tbody>
  </table>
</div>
</div>
