<app-navbar></app-navbar>

<div class="all">
    <h1>Filtre</h1>
    <div class="filtre container mt-5 card shadow">
        <div class="mt-3 mb-3">
            <input class="form-control form-control-lg recherche" type="search" placeholder="Recherche..." aria-label="Search" [(ngModel)]="term">
       </div> 
        <div class="option">
           
                
                 
          <!-- <input type="text" name="search" [(ngModel)]="term"> -->
                 <div class="select"> 
                    <label></label> 
                     <select  class="custom-select custom-select-lg  mb-3 inputFiltre" [(ngModel)]="params.categorie" (change)="onSelectByCat($event)">
                    <option value="0">Catégorie</option>
                    <option *ngFor="let c of categories" [value]="c.id">{{c.nomCategorie}}</option>
                </select>
                 </div>
    
    
    <div class="mod-mar">
        <div class="marque"> 
            <label></label> 
             <select class="custom-select custom-select-lg mb-3 inputFiltre" [(ngModel)]="params.marque"(change)="onSelect($event)">
                 <option value="0">Marque</option>
                 <option *ngFor="let m of marques" [value]="m.id">{{m.libelleMarque}}</option>
            </select>
        </div> 
    
        <div class="modele">
            <label></label>  
            <select class="custom-select custom-select-lg mb-3 inputFiltre" [(ngModel)]="params.modele" (change)="onSelectByMod($event)">
            <option value="0">Modele</option>
            <option *ngFor="let mod of modelesByMarque" [value]="mod.id">{{mod.libelleModele}}</option>
            </select>
        </div>
    </div>
                
    <div class="mod-mar">
                <div class="marque">
                    <label></label>  
                    <select class="custom-select custom-select-lg mb-3 inputFiltre" [(ngModel)]="params.gouvernorat"(change)="onSelectGov($event)">
                    <option value="0">Gouvernourat</option>
                    <option *ngFor="let g of gouvernorats" [value]="g.id">{{g.libelle}}</option>
                    </select>
                </div>
    
                <div class="modele">
                    <label></label>  
                    <select class="custom-select custom-select-lg mb-3 inputFiltre" [(ngModel)]="params.delegation" (change)="onSelectByDelegation($event)">
                    <option value="0">Délégation</option>
                    <option *ngFor="let d of delegationsByGov" [value]="d.id">{{d.libelle}}</option>
                    </select>
                </div>
            </div>
    
                
              
                 
    </div>
    <div class="mb-3">
        <button class="btn btn-primary btn-lg" id="submit" (click)="onSubmit()" 

>

    <!-- [routerLink]="['/search']"
     [queryParams]="{ 
            categorie: this.selectedCategorie.id, 
            marque : this.selectedMarque.id, 
            modele: this.selectedModele.id,
            gouvernorat:this.selectedGouvernorat.id,
            delegation:this.selectedDelegation.id
}" -->
        <!-- [routerLink]="['/filter',selectedCategorie.id ,selectedMarque.id, selectedModele.id,selectedGouvernorat.id,selectedDelegation.id]" -->
      Filtrer  <i class="fa fa-filter"></i>
    </button>
    </div>
    </div>
    
    <div class="produits">
    
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <pagination-controls class="pagination" style="margin:auto;" (pageChange)="p =$event"></pagination-controls>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div class="col mb-5" *ngFor="let p of produitsfilter|filter:term | paginate: {itemsPerPage: 16, currentPage: p } ">
                    <div class="card h-100" >
                        <!-- Product image-->
                        <img class="card-img-top"
                         src="{{'api/imgp/'+p.idProduit}}" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{  p.nomProduit }}</h5>
                                <!-- Product price-->
                                {{p.prixProduit}} TND
                            </div>
                            <div >
                                <ul class="list-group" *ngFor="let m of p.modeles">
                                    <li class="list-group-item"> <img href="#"><img class="card-img-top img-responsive"
                                        src = "{{'/api/Imgarticles/'+m.marque.id}}" 
                                        style = "height :40px;width:60px"
                                       alt=""> {{m.libelleModele}} </li>
                                       
                                </ul>
    
                            </div>
                           
                        </div>
    
                        <small>{{p.user.prenom}} {{p.user.nom}}</small>
                        <small>{{p.dateCreation | date:'medium'}}</small>
                        <small><i class="fa fa-map-marker" aria-hidden="true"></i> 
                            {{p.delegation.gouvernorat.libelle}}, {{p.delegation.libelle}}</small>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Plus de détail</a></div>
                        </div>
                    </div>
                </div>
                
          
       
            
        
              
            </div>
        </div>
        <pagination-controls class="pagination" style="margin:auto;" (pageChange)="p =$event"></pagination-controls>
    </section>
    </div>
    
    </div>
    
    <app-footer></app-footer>