<app-dashboard></app-dashboard>
<div class="entete">
  <h5 class="text-center mt-1">liste des familles</h5>
<div class="ajouter mt-1"><a class="btn btn-primary" routerLink="/add-familles"><i class="fa fa-plus"></i>&nbsp; Ajouter</a></div>
</div>

<!-- tableau de Produits -->

<div class="container tab">
    <div class="card shadow mb-2">
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Libellé</th>
      
        <th colspan="2" scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let f of familles">
        <td>{{f.id}}</td>
        <td>{{f.libelle}}</td>
      
        <td><a *ngIf="authService.isAdmin()" class="btn btn-outline-danger" >
          <i class="fa fa-trash"></i></a></td>
        <td><a *ngIf="authService.isAdmin()" class="btn btn-outline-secondary"  >
          <i class="fa fa-edit"></i></a>
        </td>
    </tr>
  </tbody>
</table>
   
  
</div>
</div>

