<div class="n">
    <app-navbar></app-navbar>
</div>

<div class="container mt-5 mb-3">
   <div class="text-center title">
    <h2>
        Règles de diffusion
       </h2><br/>
       <h4>1- Bonnes pratiques lors du dépôt d’une Petite Annonce :</h4>
   </div> 
   <div class="mt-3 mb-5" style="width:80%; margin:auto;">
    <p style=""> 
        <i class="fa fa-check" aria-hidden="true"></i>le texte de votre annonce doit être le plus complet possible :<br/><br/>
     <i class="fa fa-check" aria-hidden="true"></i> les photographies doivent être de bonne qualité. <br/><br/>
    
        <i class="fa fa-check" aria-hidden="true"></i>  Veillez à corriger les fautes d’orthographe ou les erreurs de frappe. Évitez les abréviations et la rédaction en 
        lettres majuscules. Une annonce dont les trop nombreuses erreurs empêchent la compréhension générale ne sera pas retenue pour publication.<br/><br/>
        <i class="fa fa-check" aria-hidden="true"></i> Rédigez un contenu original, ne figurant sur aucun autre site web.<br/><br/>
       </p>
   </div>
   <div class="text-center title">
    <h4>
        2- Interdictions générales lors du dépôt d’une Petite Annonce :
       </h4>
   </div>
<div  class="mt-3 mb-5" style="width:80%; margin:auto;">
    <p style="">
    Sont interdits, lors du dépôt d’une Petite Annonce :<br/><br/>

    <i class="fa fa-check" aria-hidden="true"></i> les photographies comportant des personnes reconnaissables,<br/><br/>
    

<i class="fa fa-check" aria-hidden="true"></i> l’usurpation d’identité d’un tiers (notamment utilisation
 et l’adresse mail et/ou du numéro de téléphone d’un tiers) et les contenus violant les droits de propriété
  intellectuelle de tiers (notamment photographies), pour lesquels il ne dispose pas des autorisations
   nécessaires des ayants droit,
<br/><br/>
<i class="fa fa-check" aria-hidden="true"></i>les propos portant atteinte à la dignité humaine et les contenus faisant la promotion de services à but lucratif.
Le Particulier Annonceur est informé et accepte que le responsable de la Publication est libre de supprimer
 tout ou partie du contenu contraire à une ou plusieurs disposition des présentes CGU et ceci, à tout moment,
  sans préavis ni avertissement préalable.<br/><br/>

La modération ne permettant pas de déceler a priori 
tous les contenus illicites et notamment les contenus 
portant atteinte aux droits des tiers, l’Utilisateur renonce
 à exercer toute action contre Fabien LALOI en cas d’utilisation
  contraire aux présentes CGU ou d’une
 exploitation illicite du service de dépôt et de publication 
 des Petites Annonces par tout Particulier Annonceur.
<br/><br/>

</p>
</div>
</div>

<app-footer></app-footer>
    