<app-navbar></app-navbar>
<div class="container my-5">
    <form [formGroup]="this.userService.dataForm" (ngSubmit)="onClick()" >
        <div>

            <div>
                <div >
                    <div class="form-group">
                        <label for="exampleInputPassword1">Mot de passe actuel*</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" formControlName="oldPassword">
                        <div *ngIf="oldPassword.touched && oldPassword.invalid">
                            <small *ngIf="oldPassword.errors.required" class="text-danger">Le champ mot de passe est obligatoire<br></small>
                            <small *ngIf="oldPassword.errors.minlength" class="text-danger">Au moins 6 caractéres </small>
                        </div>
                        <!-- <div *ngIf="oldPassword.valid && oldPassword.value != this.user.password" class="text-danger">
                            Le mot de passe ne correspond pas avec l'ancienne.
                        </div> -->
                        
                    </div>
                </div>
                </div>



    <div >
        <div class="form-group">
            <label for="exampleInputPassword1">Nouveau mot de passe*</label>
            <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
            <div *ngIf="password.touched && password.invalid">
                <small *ngIf="password.errors.required" class="text-danger">Le champ nouveau mot de passe est obligatoire<br></small>
                <small *ngIf="password.errors.minlength" class="text-danger">Au moins 6 caractéres</small>
            </div>
        </div>
    </div>

    <div>
        <div class="form-group">
            <label for="repeatPassword">Confirmation mot de passe*</label>
            <input type="password" class="form-control" id="repeatPassword" formControlName="repassword">
            <div *ngIf="repassword.touched && repassword.invalid">
                <small *ngIf="repassword.errors.required" class="text-danger">Le champ confirmation mot de passe est obligatoire<br></small>
            </div>
            <div *ngIf="repassword.valid && repassword.value != password.value" class="text-danger">
                Les deux mots de passes ne sont identique merci de verifier
            </div>
        </div>
    
</div>
</div>
<div class="form-group">
    <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Valider le mise à jour</button>
    <a class="btn btn-outline-success" routerLink="/"><i class="fa fa-plus-square"></i>Retour</a>
  </div>
</form>
</div>